/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* Colors
------------------------------------------------------------------------- */

$white: #ffffff;
$black: #000000;

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: #35ad68;

$font-color: #222 !default;

$border-color: #bbb !default;

$button-color: #1eaedb !default;
$button-hover-color: #0FA0CE !default;
$button-border-color: #bbb !default;

$link-color: #1eaedb !default;
$link-hover-color: #0FA0CE !default;


/* Typography
------------------------------------------------------------------------- */

$font-family-serif: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;  